.home-container {
  text-align: center;
  margin-top: 60px;
  font-family: Arial, sans-serif;
}

.home-title {
  font-size: 40px;
  color: #ff7a00;
}

.home-text {
  font-size: 18px;
  color: #555;
}

.home-button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  background-color: #ff7a00;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.home-button:hover {
  background-color: #e56700;
}
