.home-wrapper {
  background-color: #FFF9F0;
  min-height: 100vh;
  width: 100%;
}

.hero {
  width: 1500px;
  height: 580px;
  margin: 0px auto; /* ini yang membuat center */
  overflow: hidden;
  position: relative;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero-caption {
  position: absolute;
  inset: 0; /* memenuhi hero */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* center vertical */
  align-items: center; /* center horizontal */
  text-align: center;
  color: #2b2b2b;
  padding-top: 120px;
}

.hero-caption h1 {
  font-size: 45px;
  margin-bottom: 0px;
}

.hero-caption p {
  margin-top: 10px;
  font-size: 20px;
}

.hero-buttons button {
  border: none;
  background-color: #ffd93d;
  color: #2b2b2b;
  padding: 12px 22px;
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.hero-buttons button:hover {
  background-color: #f4c400;
}

.features-highlight {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 2 kolom */
  gap: 50px;
  width: 1300px;
  margin: -111px auto 0 auto;
  position: relative;
  z-index: 10;
}

.feature-box {
  background-color: #ffd93d;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.feature-box:hover {
  transform: translateY(-5px);
}

.feature-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 5px;
}

.feature-header h3 {
  margin-bottom: 10px;
  color: #2b2b2b;
  font-size: 22px;
}

.feature-icon {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.feature-box p {
  color: #2b2b2b;
  font-size: 15px;
}

.how-to-play {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 120px;
}

.how-bg {
  width: 100%;
  height: 100%;
  object-fit: cover; /* biar penuh */
}

.how-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 60px 20px;   /* biar aman di layar kecil */
}

.how-overlay h2 {
  font-size: 70px;
  margin-bottom: 0px;
  color: #2b2b2b;
}

.how-overlay p {
  font-size: 25px;
  color: #2b2b2b;
  margin-bottom: 50px;
  margin-top: 10px;
}

.how-steps-number {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;          /* jarak wajar */
  width: 100%;        /* biar ikut container */
  max-width: 1200px;  /* optional biar rapi */
  margin-top: 40px;
}

.step-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-item h2 {
  font-size: 25px;
}

.step-item p {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
  color: #2b2b2b;
}

.steps-number-box {
  width: 80px;
  height: 80px;
  background: #ffd93d;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
}