.home-wrapper {
  background-color: #FFF9F0;
  min-height: 100vh;
  width: 100%;
}

/* Navbar Styles */
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  font-size: 40px;
  font-weight: bold;
  color: #2b2b2b;
  padding-left: 70px;
  padding-top: 40px;
  cursor: pointer;
}

.navbar ul {
  flex: 1;
  list-style: none;
  text-align: center;
  padding-top: 40px;
}

.navbar ul li {
  display: inline-block;
  margin-left: 15px;
  margin-right: 20px;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.nav-item {
  color: #2b2b2b;
  text-decoration: none;
  padding: 7px 12px;
  border-radius: 10px;
  transition: background-color 0.2s, color 0.2s;
}

.nav-item:hover {
  background-color: #ff6b6b;
}

.navbar-right {
  padding-right: 70px;
  padding-top: 40px;
}

.navbar-login-button {
  border-radius: 15px;
  border: 0px;
  width: 150px;
  height: 40px;
  background-color: #ff6b6b;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #2b2b2b;
}

.navbar-login-button:hover {
  cursor: pointer;
  background-color: #e85a5a;
}

.hero {
  width: 1500px;
  height: 620px;
  margin: 0px auto;        /* ini yang membuat center */
  overflow: hidden;
  position: relative;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero-caption {
  position: absolute;
  inset: 0;                        /* memenuhi hero */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;         /* center vertical */
  align-items: center;             /* center horizontal */
  text-align: center;
  color: #2b2b2b;
  padding-top: 150px;
}

.hero-caption h1 {
  font-size: 45px;
  margin-bottom: 0px;
}

.hero-caption p {
  margin-top: 10px;
  font-size: 20px;
}

.hero-buttons button {
  border: none;
  background-color: #ffd93d;
  color: #2b2b2b;
  padding: 12px 22px;
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.hero-buttons button:hover {
  background-color: #f4c400;
}