.quiz-wrapper {
  background-color: #FFF9F0;
  min-height: 100vh;
  width: 100%;
}

/* Navbar Styles */
.navbar-quiz {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-quiz-logo {
  font-size: 40px;
  font-weight: bold;
  color: #2b2b2b;
  padding-left: 70px;
  padding-top: 40px;
  cursor: pointer;
}

.navbar-quiz ul {
  flex: 1;
  list-style: none;
  text-align: center;
  padding-top: 40px;
}

.navbar-quiz ul li {
  display: inline-block;
  margin-left: 15px;
  margin-right: 20px;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.nav-item {
  color: #2b2b2b;
  text-decoration: none;
  padding: 7px 12px;
  border-radius: 10px;
  transition: background-color 0.2s, color 0.2s;
}

.nav-item:hover {
  background-color: #ff6b6b;
}

.navbar-right {
  padding-right: 70px;
  padding-top: 40px;
}

.navbar-login-button {
  border-radius: 15px;
  border: 0px;
  width: 150px;
  height: 40px;
  background-color: #ff6b6b;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #2b2b2b;
}

.navbar-login-button:hover {
  cursor: pointer;
  background-color: #e85a5a;
}

.quiz-hero {
  width: 1500px;
  height: 550px;
  margin: 20px auto; /* ini yang membuat center */
  overflow: hidden;
  position: relative;
}

.quiz-welcome-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.welcome-caption {
  position: absolute;
  inset: 0; /* memenuhi hero */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* center vertical */
  align-items: center; /* center horizontal */
  text-align: center;
  color: #2b2b2b;
  padding-top: 80px;
}

.welcome-caption h1 {
  font-size: 60px;
  margin-bottom: 0px;
}

.welcome-caption p {
  margin-top: 0px;
  font-size: 25px;
}

.down-icon {
  width: 70px;
  height: auto;
  margin-top: 20px;
}

.quiz-setup {
  display: flex;
  flex-direction: column;
}

.quiz-setup h1 {
  color: #2b2b2b;
  margin-left: 100px;
  margin-top: 40px;
  margin-bottom: 0px;
  font-size: 60px;
}

.quiz-setup-form {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}

.setup-grid-column {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 kolom */
}

.form-group-amount {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form-group-category {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form-group-difficulty {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form-group-type {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.quiz-setup-form label {
  font-size: 30px;
  font-weight: bold;
  color: #2b2b2b;
}

.quiz-setup-form input {
  border-radius: 12px;
  border: 0px;
  background-color: #ffd93d;
  width: 500px;
  height: 38px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}

.quiz-setup-form select {
  border-radius: 12px;
  border: 0px;
  background-color: #ffd93d;
  width: 543px;
  height: 38px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}

.quiz-setup-form button {
  margin: 55px auto;
  display: block;
  border-radius: 15px;
  border: 0px;
  justify-content: center;
  width: 200px;
  height: 40px;
  background-color: #4d96ff;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #2b2b2b;
}

.quiz-setup-form button:hover {
  background-color: #2F7AE5;
  cursor: pointer;
}